.restaurant-table{
    display:flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:auto;
}

.restaurant-table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

.restaurant-table th,td {
    width:200px;
    height:50px;
    text-align: center;
}

.restaurant-table th {
    background-color: #f8dac2;
}


@media screen and (max-width:600px){
    .restaurant-table {
    margin-top: 28vh;
    margin-bottom: 28vh;
    width:300px;
    }
    .restaurant-table th,td {
        width:100px;
    }
}